#header {
    background-image: url("https://www.ciwf.com/media/7426460/dairy-cows-on-pasture.jpg?anchor=center&mode=crop&width=730&height=400&rnd=130969822010000000");
    height: 300px;
    background-size: contain;
    text-align: center;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: xx-large;
    color: blue;
    border-radius: 5px;
    background-color: rgb(7, 7, 7);
    opacity: 0.8;
}
table{
    padding: 5px;
    border: 2px solid black;
    border-collapse: collapse;
    height: 400px;
    width: 300px;
    margin:20px;
    flex-direction: column;
    
}
tr,td,th{
    padding: 5px;
    border: 2px solid black;
    border-collapse: collapse;
    

}
th {
    background-color: rgb(70, 70, 211);
    color: white;
}
body {
    background-color: thistle;
    
}
span {
    color: red;
    
}
#paragragh {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    flex-wrap: wrap;
}